name: presubmit
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  presubmit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Check spelling
        uses: crate-ci/typos@master
